<div class="min-h-screen flex flex-column surface-ground">
    <p-toolbar styleClass="bg-blue-600 text-white border-none border-noround px-5 shadow-2">
        <div class="p-toolbar-group-start">
            <h2 class="m-0 font-bold tracking-wide">GalleriaBank</h2>
            <div class="ml-5 flex gap-3">
                <p-button label="Usuários" routerLink="/usuarios" styleClass="p-button-text text-white p-button-plain hover:bg-blue-500"></p-button>
                <p-button label="Clientes" routerLink="/clientes" styleClass="p-button-text text-white p-button-plain hover:bg-blue-500"></p-button>
                <p-button label="Produtos" routerLink="/produtos" styleClass="p-button-text text-white p-button-plain hover:bg-blue-500"></p-button>
                <p-button label="Pedidos" routerLink="/pedidos" styleClass="p-button-text text-white p-button-plain hover:bg-blue-500"></p-button>
            </div>
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-sign-out" label="Sair" (onClick)="logout()" styleClass="p-button-danger p-button-text text-white hover:bg-red-500"></p-button>
        </div>
    </p-toolbar>

    <div class="flex-grow-1 p-5 max-w-full">
        <router-outlet></router-outlet>
    </div>
</div>
